.message {
    margin-top: 50px;
}

.imageAndText {
    color: black;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
}

.imageAndText img {
    width: 45px;
    height: 45px;
    margin-top: 12px;
}

.text {
    border-radius: 10px;
    color: black;
    font-size: 16px;
    background-color: #0066CC;
    margin-right: 20px;

}

.text:after {

}

.name {
    margin-right: 13px;
    font-size: 18px;
    text-align: right;
    color: #FFFFFF;
    margin-top: 7px;
}

.messageText {
    margin-right: 13px;
    margin-left: 13px;
    color: #FFFFFF;
    font-size: 16px;
}

.time {
    color: black;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}