.buttonsContainer {
}

.button:nth-child(1) {
    margin-left: 65px;
}

.button {
    margin-right: 15px;
}

.responseContainer {
    display: flex;
    align-items: center;
}

.imageContainer {
    margin-left: 210px;
    margin-right: 90px;
    margin-top: 85px;
}

.image {
}

.textContainer{
    width: 100%;
    max-width: 400px;
}

.code {
}

.text {
}
.info {
}