.sendForm {
    padding-left: 70px;
    display: flex;
    margin-top: 50px;
}

.textarea {
    width: 976px;
    min-height: 40px;
    resize: none;
    background-color: #F5F7FB;
    border-radius: 20px;
    overflow: hidden;


}

.textarea::placeholder {
    padding-top: 12px;
    padding-left: 24px;
}

.button {
    width: 120px;
    height: 40px;
    background-color: #0066CC;
    border-radius: 20px;
    border: none;
    margin-left: 44px;
}

.button:hover {

}
.button:active {

}
